body{
    background-color: grey;
}

.ClassDivOne {
    font-family: 'Nabla', cursive;
    font-size: 4em;
    text-align: left;
    width: 25%;
    background-color: purple;
}

.ClassDivTwo {
    font-family: 'Bungee Spice', cursive;
    font-size: 4em;
    text-align: left;
    width: 50%;
    background-color: green;
}

.ClassDivThree {
    font-family: 'Ms Madi', cursive;
    font-size: 4em;
    text-align: left;
    width: 100%;
    background-color: turquoise;
}

@keyframes fade-in{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Header {
    animation: fade-in 5s infinite;
}